section#features.section.features-area.style-two.overflow-hidden.ptb_100
    div.container
        div.row.justify-content-center
            div.col-12.col-md-10.col-lg-8
                //- Section Heading
                div.section-heading.text-center
                    span.d-inline-block.rounded-pill.shadow-sm.fw-5.px-4.py-2.mb-3
                        i.far.fa-lightbulb.text-primary.mr-1
                        span.text-primary Beneficios
                        span de Tarjeta Efectivo
                    
                    h2.title-h1= benfitsTitle
                    
                    p.mt-4= benefitsDescription

        div.row
            //- Benefits List Start
            each benefit in benefits
                +benefitCard(benefit.icon, benefit.title, benefit.description, benefit.spaces)
            //- Benefits List End
