div.buttons
    button.btn.btn-tertiary(onclick="redirect()")
        span.icon-apple
        span.mx-2 ¡Canjea tu PayPal!

    button.btn.btn-primary.efectivo(onclick="redirect()")
        span.icon-play-store
        span.mx-2 ¡Regala!