extends ../templates/template

block content
    //- ***** Scroll To Top Area Start *****
        div#scrollUp(title="Scroll To Top")
            i.fas.fa-arrow-up
    //- ***** Scroll To Top Area End *****

    //- To Top Start
    div#to-top
        i.fas.fa-arrow-up
    //- To Top End

    .main
        //- ***** Navegation *****
        include ../includes/Navegation


        //- ***** Slider Area *****
        include ../includes/Slider

        //- Counter Area
        include ../includes/Counter
    
        //- ***** Benefits Area *****
        include ../includes/Benefits
        
        //- ***** Btn action 2 *****
        include ../includes/Btn2
        
        //- ***** Banner Area *****
        include ../includes/Banner

        br

        //- ***** Infografy Area *****
        include ../includes/Infografy
                            
        //- ***** Btn action 1 *****
        +btn-center('Ir a Tarjeta Efectivo')

        //- ******* Review Info Start ******
            include ../includes/Review
        //- ******* Review Info End ******
        

        //- ***** Btn action 1 *****
            +btn-center('Ir a Tarjeta Efectivo')

        //- ***** Questions Area Start *****
        include ../includes/Questions

        //- ***** Height Emulator Area Start *****
        <div class="height-emulator d-none d-lg-block"></div>
        //- ***** Height Emulator Area End *****

        //- ***** Footer Area Start *****
        include ../includes/Footer
        //- ***** Footer Area End *****